body {
  height:50%;
  color: white;
  background-image: url("bg_unsharp.png");
  background-color: #292742;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Lato, Arial;
  text-align: center;
  margin: 20;
  zoom: 1;
}

img {
  border-radius: 15%;
  transition: all .55s ease-in-out;
  max-width: 13.3%;
}

a:link {
  color: #b2dcdc;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #CDA3FF;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

.igh {
  max-width: 6%;
  aspect-ratio: 1 / 1.05;
}

.igh:hover {
  transform: scale(1.232);
  /*background: #292742;*/
  background: rgba(41,39,66,0.9999);
}

.empty{
  margin-bottom: 4.5%;
}

/*.teams {
  max-width: 150%;
}

.subs {
  position: relative;
  transition: all .2s ease-in-out;
}

img.subs:hover {
  transform: scale(1.232);
  background: #292742;
}

.audio {
  right: 5;
  bottom: 5;
}*/

.txtbg {
  border: 5px solid #f5ebdc;
  border-radius: 25px;
  background: rgba(41,39,66,0.8);
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 5%;
  padding-left: 75px;
  padding-right: 75px;
}

h1 {
  padding-top: 2%;
  padding-bottom: 0.5%;
  color: #eeeeee;
  font-size: 4vw;
}

h2 {
  font-size: 2.6vw;
  padding-bottom: 2%;
  color: #eeeeee;
}

h3 {
  font-size:1.2vw;
  padding-bottom: 0.5%;
}

h4 {
  color: #eeeeee;
  font-size: 4vw;
}

h5 {
  font-size: 2vw;
  color: #eeeeee;
  text-align: justify;
}

box {
  /*background-color: #292742;*/
  background: rgba(41,39,66,0.92);
  border: 3pt solid #f5ebdc;
  border-radius: 25px;
  padding-top: 7.5%;
  padding-bottom: 1.1%;
  padding-left: 1.8%;
  padding-right: 1.8%;
  margin-left: 0.4%;
  margin-right: 0.4%;
}

box2 {
  background-color: #a3692f;
  border: 1.5pt solid #f5ebdc;
  border-radius: 15%;
  padding-top: 6%;
  margin: 0.38%;
}

box3 {
  background-color: #7a62a3;
  border: 1.5pt solid #f5ebdc;
  border-radius: 15%;
  padding-top: 6%;
  margin: 0.38%;
}
